/* .container{
    display: flex;
    gap:20px;
}
.memberinfo{
    width: 250px;
    height: 500px;
    border: 1px solid skyblue;
    border-radius: 12px;
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.memberinfo > h4{
    margin: 0;
} */